.container {
  min-height: 100vh;
  padding: 0 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 4px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  z-index: 500;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  flex-grow: 4;
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}
.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.main {
  border: 0;
  outline: none;
  background-color: #0f0;
  cursor: pointer;
  position: relative;
  color: #0f0;
  margin-bottom: 48px;
  clip-path: polygon(92.5% 0, 100% 23%, 100% 100%, 8.1% 100%, 0% 75.9%, 0 0);
}

.contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: inherit;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: rgba(0, 0, 0, 1);
  clip-path: polygon(
    92.5% 0,
    100% 23.5%,
    99.8% 99.8%,
    8.1% 100%,
    0% 74.3%,
    0 0
  );
}

.btn {
  width: 128px;
  height: 36px;
  border: 0;
  outline: none;
  background-color: #0f0;
  cursor: pointer;
  position: relative;
  display: block;
  color: #000;
  clip-path: polygon(92.5% 0, 100% 23%, 100% 100%, 8.1% 100%, 0% 75.9%, 0 0);
}

.btnContainer {
  width: 132px;
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  position: relative;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: rgba(0, 0, 0, 1);
  clip-path: polygon(
    92.5% 0,
    100% 23.5%,
    99.8% 99.8%,
    8.1% 100%,
    0% 74.3%,
    0 0
  );
}
.resContainer {
  min-height: 40px;
  max-height: 512px;
  max-width: 680px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-wrap: anywhere;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3);
  clip-path: polygon(
    92.5% 0,
    100% 23.5%,
    99.8% 99.8%,
    8.1% 100%,
    0% 74.3%,
    0 0
  );
}
.resContainer > p {
  overflow-wrap: anywhere;
  overflow: hidden;
  max-width: 512px;
}
.section {
  overflow-wrap: anywhere;
  overflow: hidden;
}
.btnContainer:hover {
  animation: glitch-animation 0.1s linear 0s;
}

/* secret trick */
@keyframes glitch-animation {
  0% {
    opacity: 1;
    transform: translateZ(0);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }

  2% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(-5px);
  }

  6% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(5px);
  }

  8% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(-5px);
  }

  9% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(0);
  }

  10% {
    clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
    transform: translate3d(5px, 0, 0);
  }

  13% {
    clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
    transform: translateZ(0);
  }

  13.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    transform: translate3d(5px, 0, 0);
  }

  15% {
    clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    transform: translate3d(5px, 0, 0);
  }

  20% {
    clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    transform: translate3d(-5px, 0, 0);
  }

  20.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    transform: translate3d(5px, 0, 0);
  }

  25% {
    clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    transform: translate3d(5px, 0, 0);
  }

  30% {
    clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    transform: translate3d(-5px, 0, 0);
  }

  30.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }

  35% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(-5px);
  }

  40% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(5px);
  }

  45% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(-5px);
  }

  50% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(0);
  }

  55% {
    clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    transform: translate3d(5px, 0, 0);
  }

  60% {
    clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    transform: translateZ(0);
    opacity: 1;
  }

  60.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 1;
  }

  to {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 1;
  }
}
